/* ::-webkit-scrollbar {
    display: none;
} */

.sb {
    display: flex;
    overflow-x: scroll;
}

.circle::before {
    content: "";
    position: absolute;
    width: 75px;
    height: 75px;
    border-radius: 100%;
    outline: none;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    background-color: #FAFAFA;
    transition: all 400ms ease;
}
/* 
#banner {
    animation: swipe 5000ms linear infinite;
}
#wrapper:hover{
    animation-play-state: paused;
}

@keyframes swipe {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-100%);
    }
} */